<div class="example">
  <ar-archer-tab-panel>
    <!--    -->
    <ar-archer-tab [title]="'sadasasdasd-Первый'"
                   [selected]="false"
                   [disabled]="false">

      <form [formGroup]="form">
        <ar-form-field>
          <input formControlName="inp"
                 type="text">
        </ar-form-field>
        <p> Результат ввода: <span>{{ inputValue }}</span></p>
      </form>
    </ar-archer-tab>

    <ar-archer-tab [title]="'2-Первый'"
                   [selected]="false">
      <p>2</p>
    </ar-archer-tab>

    <ar-archer-tab [title]="'3-Первый'"
                   [selected]="false"
                   [disabled]="false">
      3
    </ar-archer-tab>
  </ar-archer-tab-panel>
</div>

<button ar-btn>
  Кнопочка
</button>

